.formLeft {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}
.formLeft input {
    margin-bottom: 20px;
}
.formLeft select {
    margin-bottom: 20px;
}
.formLeft textarea {
    margin-bottom: 20px;
}
.buttonGeneral {
    text-decoration: none;
    width: 100px;
    height: 30px;
    background-color:#224874;
    color: white;
    border-radius: 15px;
    border: white;
}
.buttonGeneral:hover {
    background-color:#346fb3;
}
.textAreaFormatted {
    font-family: 'Roboto', sans-serif;
}