body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
header {
    background-image: url("../images/homeImages/IMG-20200221-WA0001.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.inPageNav ul {
    text-align: center;
    list-style-type: none;
    padding-top: 20px;
}
.inPageNav ul li {
    display: inline;
}
.inPageNav ul li a {
    font-weight: 400;
    color: black;
    text-decoration: none;
    padding: 15px;
}
.inPageNav ul li a:hover {
    background-color:#ffffff8f;
    color: #539ef3;
}
.navigation ul {
    align-content: flex-end;
    text-align: right;
    list-style-type: none;
    padding-right: 35px;
}
.navigation ul li {
    display: inline;
}
.navigation ul li a {
    font-weight: 400;
    color: white;
    text-decoration: none;
    padding: 15px;
}
.navigation ul li a:hover {
    background-color:#ffffff8f;
    color: #539ef3;
}
footer {
    background-color:#7e7373;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
footer ul {
    list-style-type: none;
    padding: 0;
}
footer ul li {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 20px;
}
footer ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 400;
    color: black;
    padding: 10px;
}
.copyright {
    color: #413c3c;
    margin: 0;
}
h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 50pt;
    font-weight: 200;
    background-color: #7e7373b7; 
}
h2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 40pt;
}
h3 {
    font-family: 'Permanent Marker', cursive;
    font-size: 25pt;
    color: white;
    padding-left: 50px;
}
h3 a {
    text-decoration: none;
    color: white;
}
h4 {
    font-family:inherit;
    font-weight: 200;
    font-size: 30pt;
    margin: 0;
    padding: 20px;
    padding-bottom: 0;
}
h5 {
    display: flex;
    align-items: center;
    font-family:inherit;
    font-weight: 200;
    font-size: 20pt;
    margin: 0;
    padding-top: 20px;
}
p {
    max-width: 600px;
    text-align: left;
    padding-bottom: 20px;
    font-size: 12pt;
}
.containerColumn {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-bottom: 50px;
}
.containerColumnLeft {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    padding-bottom: 50px;
}
.containerRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

